// COLORS
// COLORS
$color-primary: #568994;
$color-primary-light: #e3f6f5;
$color-primary-dark: #01235e;

$color-secondary-light: #efec95;
$color-secondary-dark: #e2dc2c;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$ticker-font-color: #333;

$color-white: #fff;
$color-black: #000;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


// FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// To get em => 1200/16 = 75em
$bp-1200: 75em;
$bp-1100: 68.75em;
$bp-1000: 62.5em;
$bp-900: 56.25em;
$bp-800: 50em;
$bp-655: 40.9em;
$bp-600: 37.5em;

